/*.sidenav {
    height: 100%;
    width: 5px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightslategrey;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;            
    right: 25px;
    font-size: 34px;
}
*/

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#344A5F;
    overflow-x: hidden;
    padding-top: 60px;            
    padding-right: 0px;
    font-size: 34px;
}

.sidenav a {
    padding: 5px 3px 3px 10px;
    text-decoration: none;
    font-size: 16px;
    /*color: #818181;*/
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #1AB7EA;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.icon {
    padding-right: 5px;
}

hr{
    border: 0;
    height: 1px;
    background: white;
   
}